<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./static/plugins/jsplumb-2.15.6/css/jsplumbtoolkit-defaults.min.css">
    <link rel="stylesheet" href="./static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/plugins/codemirror/css/codemirror.css">
    <link rel="stylesheet" href="./static/css/css.css">

</head>
<body>
<div id="app">
    <div class="b5bpm-box">
        <div class="b5bpm-header">
            <div class="b5bpm-header-title">{{title}}</div>
            <div class="b5bpm-header-align">
                <div class="b5bpm-align-cell" title="左对齐" @click="alignClick('left')"><i class="glyphicon glyphicon-object-align-left"></i></div>
                <div class="b5bpm-align-cell" title="垂直居中" @click="alignClick('center')"><i class="glyphicon glyphicon-object-align-vertical"></i></div>
                <div class="b5bpm-align-cell" title="右对齐" @click="alignClick('right')"><i class="glyphicon glyphicon-object-align-right"></i></div>
                <div class="b5bpm-align-cell" title="水平居中" @click="alignClick('middle')"><i class="glyphicon glyphicon-object-align-horizontal"></i></div>
            </div>
            <div class="b5bmp-header-oplist">
                <div class="b5bpm-header-opcell" @click="showTest" data-type="p1">
                    <i class="glyphicon glyphicon-eye-open"></i> 显示流程1
                </div>
                <div class="b5bpm-header-opcell" @click="showTest" data-type="p2">
                    <i class="glyphicon glyphicon-eye-open"></i> 显示流程2
                </div>
                <div class="b5bpm-header-opcell" @click="showJson">
                    <i class="glyphicon glyphicon-list-alt"></i> 查看流程信息
                </div>
                <div class="b5bpm-header-opcell" @click="rest">
                    <i class="glyphicon glyphicon-list-alt"></i> 重置
                </div>

                <div class="b5bpm-header-opcell">
                    <i class="glyphicon glyphicon-floppy-disk"></i> 保存
                </div>
            </div>
        </div>
        <div class="b5bpm-content">
            <!--左侧菜单节点-->
            <div class="b5bpm-menu">
                <div class="b5bpm-cc-header">选择节点</div>
                <div class="b5bpm-menu-list">
                    <div v-for="(item,key) in nodeList" :class="['b5bpm-mdc', 'draggable', 'b5bpm-mdc-'+key]" :data-type="key"><div :class="['b5bpm-mdc-con']"><span>{{item.title}}</span></div></div>
                </div>
            </div>
            <!--中间操作-->
            <div class="b5bpm-center">
                <div class="flow-map-operate">
                    <div class="flow-map-opcell" @click="mapSize" data-type="add"><i class="glyphicon glyphicon-zoom-in"></i></div>
                    <div class="flow-map-opcell" @click="mapSize" data-type="repeat"><i class="glyphicon glyphicon-repeat"></i></div>
                    <div class="flow-map-opcell" @click="mapSize" data-type="dec"><i class="glyphicon glyphicon-zoom-out"></i></div>
                </div>
                <div class="b5bpm-main">
                    <div class="flow-map droppable" :style="{transform:'scale('+size+','+size+')',transformOrigin:'0 0 0'}"></div>
                </div>
            </div>
            <!--选择的节点信息编辑-->
            <div class="b5bpm-operate">
                <div class="b5bpm-cc-header">编辑节点</div>
                <div class="b5bpm-edit">
                    <template v-if="checkedIndex>-1">
                        <div class="b5bpm-edit-line">
                            <div class="b5bpm-edit-label">类型</div>
                            <div class="b5bpm-edit-content">
                                <input type="text" class="b5bpm-edit-input" :value="'('+list[checkedIndex].type+')'+nodeList[list[checkedIndex].type].title" disabled>
                            </div>
                        </div>
                        <div class="b5bpm-edit-line" v-if="list[checkedIndex].type!='start' && list[checkedIndex].type!='end'">
                            <div class="b5bpm-edit-label">名称</div>
                            <div class="b5bpm-edit-content">
                                <input class="b5bpm-edit-input" type="text" v-model="list[checkedIndex].title" maxlength="10" placeholder="最多10个字符">
                            </div>
                        </div>
                        <template v-if="list[checkedIndex].type =='process'">
                            <div class="b5bpm-edit-line">
                                <div class="b5bpm-edit-label">是否会签</div>
                                <div class="b5bpm-edit-content">
                                    <select class="b5bpm-edit-input" v-model="list[checkedIndex].is_sign">
                                        <option value="0">不允许</option>
                                        <option value="1">允许</option>
                                    </select>
                                </div>
                            </div>
                            <div class="b5bpm-edit-line">
                                <div class="b5bpm-edit-label">是否回退</div>
                                <div class="b5bpm-edit-content">
                                    <select class="b5bpm-edit-input" v-model="list[checkedIndex].is_back">
                                        <option value="0">不允许</option>
                                        <option value="1">允许</option>
                                    </select>
                                </div>
                            </div>
                            <div class="b5bpm-edit-line">
                                <div class="b5bpm-edit-label">办理人员</div>
                                <div class="b5bpm-edit-content">
                                    <select class="b5bpm-edit-input" v-model="list[checkedIndex].user_type">
                                        <option value="0">指定职位</option>
                                        <option value="1">指定人员</option>
                                    </select>
                                </div>
                            </div>
                            <div class="b5bpm-edit-line" v-if="list[checkedIndex].user_type=='0'">
                                <div class="b5bpm-edit-label">选择职位</div>
                                <div class="b5bpm-edit-content">
                                    <select class="b5bpm-edit-input" v-model="list[checkedIndex].user_value">
                                        <option value="">请选择职位</option>
                                        <option value="1">总经理</option>
                                        <option value="2">副总经理</option>
                                        <option value="3">部门经理</option>
                                        <option value="4">部门副经理</option>
                                        <option value="5">组长</option>
                                        <option value="6">员工</option>
                                    </select>
                                </div>
                            </div>
                            <div class="b5bpm-edit-line" v-if="list[checkedIndex].user_type=='1'">
                                <div class="b5bpm-edit-label">选择人员</div>
                                <div class="b5bpm-edit-content">
                                    <input type="text" class="b5bpm-edit-input" v-model="list[checkedIndex].user_name" disabled placeholder="点击选择" style="cursor: pointer">
                                </div>
                            </div>
                        </template>

                        <template v-if="list[checkedIndex].type =='gateway'">
                            <div class="b5bpm-edit-line">
                                <div class="b5bpm-edit-label">条件类型</div>
                                <div class="b5bpm-edit-content">
                                    <select class="b5bpm-edit-input" v-model="list[checkedIndex].condition_type">
                                        <option value="and">满足所有</option>
                                        <option value="or">满足其中一个</option>
                                        <option value="not">不满足以下条件</option>
                                    </select>
                                </div>
                            </div>
                            <div class="b5bpm-edit-line">
                                <div class="b5bpm-edit-label">判断条件</div>
                                <div class="b5bpm-edit-content">
                                    <input type="text" class="b5bpm-edit-input" v-model="list[checkedIndex].condition" placeholder="字段条件">
                                </div>
                            </div>
                        </template>
                        <div class="b5bpm-edit-line">
                            <div class="b5bpm-edit-label">备注</div>
                            <div class="b5bpm-edit-content">
                                <textarea class="b5bpm-edit-input" v-model="list[checkedIndex].remark" maxlength="60" placeholder="最多60个字符"></textarea>
                            </div>
                        </div>
                        <div class="b5bpm-edit-line">
                            <a href="javascript:;" class="btn btn-danger btn-sm" @click="dropNode">删除</a>&nbsp;&nbsp;
                            <a href="javascript:;" class="btn btn-info btn-sm" @click="saveNode">保存</a>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>

<!--  弹出json代码框  -->
    <div class="modal fade in" tabindex="-1" role="dialog" v-if="jsonShow" style="display: block">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="hideJson"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">流程数据信息</h5>
                </div>
                <div class="modal-body">
                    <textarea id="editor_content">{{nodeJson}}</textarea>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
<script src="./static/plugins/jsplumb-2.15.6/js/jsplumb.min.js"></script>
<script src="./static/plugins/jquery/jquery-1.12.4.min.js"></script>
<script src="./static/plugins/jquery-ui-1.10.4.min.js"></script>
<script src="./static/plugins/vue/vue.min.js"></script>
<script src="./static/plugins/codemirror/js/codemirror.js"></script>
<script src="./static/js/mouserect.js"></script>
<script src="./static/js/myplumb.js"></script>
</body>
</html>